.container {
    width: 100%;

    .accordion-wrapper {
        overflow: hidden;

        .menu-container {
            width          : 100%;
            text-align     : left;
            display        : flex;
            align-items    : center;
            justify-content: space-between;
            background     : transparent;
            border         : none;
            cursor         : pointer;
            border-left    : 3px solid transparent;

            &:hover {
                background-color: rgb(244 244 245);
            }
        }

        .menu-container.active {
            color: black;
            background-color: rgb(244 244 245);
            border-left: 3px solid #FCB800;
        }

        .sub-menu-container {
            transition: height .4s ease-in-out;
        }

        .arrow {
            font-size : 1.5rem;
            transition: .5s ease-in-out;

            &.active {
                rotate: 180deg;
            }
        }
    }
}