.order-managment__list {

    tbody {
        &:before {

            content    : "-";
            display    : block;
            line-height: 1em;
            color      : transparent;
        }

    }
}