.system-main__sidebar {
    overflow-y: scroll;
    /* Add the ability to scroll */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width   : none;
    /* Firefox */
}

.system-dashboard {
    .overview-item {
        border-bottom-width: 6px;
    }
}
